@import "tailwindcss";

@font-face {
    font-family: outfit;
    src: url(assets/Outfit-VariableFont_wght.ttf) ;
}

@utility player-controls-tooltip{
    @apply absolute text-sm top-13 translate-y-[-1rem] opacity-0 group-hover:translate-y-[0] group-hover:opacity-100 transition-all duration-500 ease-in-out select-none
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

html::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
    font-family: outfit, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%,  rgba(4, 17, 130, 1) 100%);
}

@keyframes rotate-img{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}

.rotate-song-img{
    animation: rotate-img 10s linear infinite;
    animation-play-state: paused;
}


.custom-range {
  appearance: none;
  height: .5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: .25rem;
}

.custom-range::-webkit-slider-runnable-track {
  height: .5rem;
  background: #ccc;
}

.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 0px;
  height: .5rem;
  background: #7f6cec;
  box-shadow: -100vw 0 0 100vw #7f6cec;
  border: none;
}

@layer utilities {
   input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}

@keyframes animate-up{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-up{
    animation: animate-up .5s ease-in-out normal;
}

@keyframes animate-left{
    from{
        transform: translateX(5%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-left{
    animation: animate-left .5s ease-in-out normal;
}
